<div class="message-wrapper" [class.user-message]="isUser" [class.bot-message]="isBot" [class.error-message]="isError">
  <div class="message-content">
    <div class="message-avatar" *ngIf="isBot">
      <i class="pi pi-android"></i>
    </div>

    <div class="message-bubble">
      <div class="message-text" [innerHTML]="formattedContent"></div>
      <div class="message-time">{{ messageTime }}</div>

      <!-- Metadata display for bot messages -->
      <div class="message-metadata" *ngIf="message.metadata && isBot">
        <div class="metadata-item" *ngFor="let item of message.metadata | keyvalue">
          <span class="metadata-key">{{ item.key }}:</span>
          <span class="metadata-value">{{ item.value }}</span>
        </div>
      </div>
    </div>

    <div class="message-avatar" *ngIf="isUser">
      <i class="pi pi-user"></i>
    </div>
  </div>
</div>
