.invalid-input {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.mandatory-input {
  color: #dc3545;
  font-size: 80%;
}

.form-group {
  margin-bottom: 1rem;
}

.text-right {
  text-align: right;
}
