<!-- Modern Footer Component - 2025 Edition -->
<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-copyright">
        <span>{{ 'FOOTER.COPYRIGHT' | translate }} {{year}}</span>
      </div>
      <div class="footer-links">
        <a href="#" class="footer-link">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
        <a href="#" class="footer-link">{{ 'FOOTER.TERMS_OF_SERVICE' | translate }}</a>
        <a href="#" class="footer-link">{{ 'FOOTER.CONTACT' | translate }}</a>
      </div>
    </div>
  </div>
</footer>
